* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.42;
}
ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
h1, h2, h3 {
    margin: 0;
}
.container {
    max-width: 865px;
    margin: 0 auto;
    padding: 0 5px;
    display: flex;  
}
.header__container {
    max-width: 1032px;
    display: flex;
    justify-content: flex-end;
}
.nav__list {
    display: flex;
    font-weight: 500;
    font-size: 20px;
}
.nav__item {
    margin-left: 33px;
}
.about__container {
    display: flex;
    margin-top: 100px;
}
.about__tittle {
    margin-bottom: 20px;
}
.about__text {
    margin-bottom: 30px;
}
.about__info {
  padding-right: 12%;
}
.button {
    background-color: red;
    color: white;
   width: 208px;
   height: 47px;
   border: none;
   border-style: none;
}
.about__img-wrap {
 width: 243px;
 height: 243px;
 border-radius: 50%;
 overflow: hidden;  
 margin-left: 115px;
 flex-shrink:0;
}
.about__img {
    width: 100%;   
    height: 100%; 
    object-fit: cover;
}
.recent-posts{ 
    margin: 0 auto;
}
.recent-posts {
    width: 100vh;
}
.recent-posts__container{
    height: 396px;
    background-color:  #EDF7FA;
    max-width: 1032px;
    margin-top: 98px;
    display: flex;   
     
}
.recent-posts__top{         
    max-width: 865px;
}
.recent-posts__tittle {
    Font-size: 22px; 
}
.recent-posts__link {
    Font-size: 16px;
    color: #00A8CC;
    text-decoration: underline;
}
.recent-posts__articles {
    display: flex;
    align-items: center;
    justify-content: center;
}
.recent-posts__article {
    height: 295px;
    width: 418px;
    background-color: #FFFFFF;
    margin-right: 26px;
    display: flex;
    flex-direction: column;
}
.recent-posts__subtitle {
    font-size: bold;
    Font-size: 26px;
    width: 374px;
    height: 85px;
    margin-top: 24px;
    margin-left: 23px
}
.recent-posts__info {
    margin-top: 17px;
    margin-left: 23px
}
.recent-posts__separator {
    padding-left:27px;
    padding-right: 27px;
    margin-left: 23px
}
.recent-posts__text {
    font-size: 16px;
    width: 368px;
    height: 117px;
    margin-left: 23px;
    margin-top: 11px;    
}
    

